{% extends 'base.html.twig' %}

{% block title %}Edition de Region{% endblock %}
{% block h1 %}Edition de Region{% endblock %}
{% block content %}

    {{ include('region/backoffice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('region_index') }}">back to list</a>

    {{ include('region/backoffice/_delete_form.html.twig') }}
{% endblock %}
