{% extends 'base.html.twig' %}

{% block title %}Nouvelle région{% endblock %}

{% block h1 %}
    Créer une nouvelle région
{% endblock %}

{% block content %}

    {{ include('region/backoffice/_form.html.twig') }}

    <a class="text-dark" href="{{ path('region_index') }}">Retour à la liste des régions</a>
{% endblock %}
