.center {
    background-color: #e6f2ff;
    height: 100vh;
    font: 1.2em "Fira Sans", sans-serif;
    line-height: 1.8em;
    opacity: 0.6;
    
}

footer{
    color: #fff;
    font-size:70%;
}

#left_margin{
    background-repeat: no-repeat;
    background-position-x: left;
    background-attachment: fixed;
    background-size: cover;
}

#right_margin {
    background-repeat: no-repeat;
    background-position-x: right;
    background-attachment: fixed;
    background-size: cover;
}

.form-error{
    background-color: #800000;
}

.align-right{
    text-align: right;
}


#wrapper {
    opacity: 1;
    filter: none;
    -moz-transition: opacity 1s ease, -moz-filter 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
    /*-ms-transition: opacity 1s ease, -ms-filter 1s ease;*/
    transition: opacity 1s ease, filter 1s ease;
}

body {
    font-size: medium;
    font-family: "Arial", serif;
    opacity:1;

}

h1{
	font-size: xx-large;
    font-family: " Trebuchet MS", "Times New Roman", serif;
	font-weight: bold;
	text-decoration: underline;
	color:navy;
	border: 6px teal double;
	opacity: 1;
	
	
}

