.center {
    background-color: #e6f2ff;
    height: 100vh;
    font: 1.2em "Fira Sans", sans-serif;
    line-height: 1.8em;
}

footer{
    color: #fff;
    font-size:70%;
}

#left_margin{
    background-repeat: no-repeat;
    background-position-x: left;
    background-attachment: fixed;
    background-size: cover;
}

#right_margin {
    background-repeat: no-repeat;
    background-position-x: right;
    background-attachment: fixed;
    background-size: cover;
}

.form-error{
    background-color: #800000;
}

.align-right{
    text-align: right;
}


#wrapper {
    opacity: 1;
    filter: none;
    -moz-transition: opacity 1s ease, -moz-filter 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
    /*-ms-transition: opacity 1s ease, -ms-filter 1s ease;*/
    transition: opacity 1s ease, filter 1s ease;
}

body.is-loading #wrapper {
    opacity: 0;
    /*-moz-filter: blur(1px);*/
    -webkit-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

body.is-covered #wrapper {
    /*-moz-filter: blur(3px);*/
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
