body {
    background-color: #e6f2ff;
    height: 100vh;
    font: 1.2em "Fira Sans", sans-serif;
    line-height: 1.8em;
}

footer{
    color: #fff;
    font-size:70%;
}

#left_margin {
    background-color: #4e555b;
}

#right_margin {
    background-color: #4e555b;
}