{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modification du profil</h1>

    {{ include('owner/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('owner_show_me') }}">Annuler</a>
{% endblock %}
