{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}
{% block h1 %}Modifier le profil{% endblock %}

{% block content %}

    {{ include('owner/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('owner_show_me') }}">Annuler</a>
{% endblock %}
